/* CORE STYLES */

body {
      font-family: "Roboto", serif;
      padding-top: 50px;
}

a {
  color: #39CEBB;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.btn {
  border-radius: 0px;
}

.btn-kcole {
  color: #39CEBB;
  background-color: transparent;
  border: 1px solid #39CEBB;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}

.btn-kcoleReverse {
  color: white;
  background-color: #39CEBB;
  border: 1px solid #39CEBB;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}

.btn-contactNav {
  color: #b6b6b6 !important;
  padding: 7px 20px !important;
  background-color: transparent;
  border: 1px solid #f6f6f6;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  margin-top: 6px;
}

.btn-contactNav:hover {
  background-color: #39CEBB !important;
  color: white !important;
}

.btn:hover {
  color: white;
  background-color: #39CEBB;
}

.btn-kcoleReverse:hover {
  color: white;
  border: 1px solid #2FB1A0;
  background-color: #2FB1A0;
}

.label-kcole {
  background-color: black;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid#quoteContainer {
  padding-right: 0px;
  padding-left: 0px;
}

#quoteBox {
  background-color: #39CEBB;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#quoteBox h3 {
  font-weight: 100;
}

::-moz-selection { /* Code for Firefox */
    background: #39CEBB;
    color: white;
}

::selection {
    background: #39CEBB;
    color: white;
}

/* NAVBAR */

.navbar-default {
  background-color: #fff;
  border-color: #f6f6f6;
}

.navbar-default .navbar-brand {
  color: #39CEBB;
}

.navbar-default .navbar-nav li>a{
  color: #b6b6b6;
}

.navbar-default .navbar-right li>a{
  color: #b6b6b6;
}

/* MAIN CAROUSEL */

.jumbotron {
  background-color: #f6f6f6;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 30px;
}

.jumbotron h1 {
  color: #333;
  line-height: 80px;
  text-align: left;
  font-weight: 100;
}

.jumbotron p {
  color: #666;
  text-align: left;
  line-height: 60px;
}

#jumbotronArrow {
  color: #e6e6e6;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -100px;
}

/* FEATURED WORK */

.img-thumbnail {
  padding: 0px;
  border: none;
  border-radius:0;
  -webkit-transition: none;
  transition: none;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #000;
  margin-bottom: 30px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 1.5em;
  text-align: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  color: #fff;
  font-size: 2em;
  position: relative;
  background-color: transparent;
  padding: 7% 0 5% 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.hovereffect p {
  font-weight: 100;
  font-size: 1.15em;
  padding-bottom: 5%;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p, .hovereffect h2{
  color: #FFF;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.8;
  filter: alpha(opacity=70);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* FOOTER */

.footer {
  background-color: #e6e6e6;
  color: #808080;
  padding-top:30px;
  padding-bottom: 30px;
}